$primary-font: 'Fraunces', sans-serif;
$secondary-font: 'Manrope', sans-serif;

$color-primary: #584D62;
$color-primary-light: #FCF8FF;
$color-primary-dark: #24053E;

$color-secondary: #44FFA1;

$breakpoints: (
    'small' : 375px,
    'medium': 768px,
    'large' : 1440px
);